@use '../abstracts/' as *;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

h1, h2, h3 {
  color: $dark-grayish-blue;
}

h2 {
  font-size: rem(36);
}

h3 {
  font-size: rem(24);
}

p{
  font-size: rem(20);
  color: $grayish-blue;
  line-height: rem(30);
}

section:not(:nth-child(2)), footer{
  padding-left: rem(165);
  padding-right: rem(165);
}

@media screen and (max-width: rem(900)) {
  section:not(:nth-child(2)), footer{
    padding-left: rem(80);
    padding-right: rem(80);
  }

  h2{
    font-size: rem(28);
  }
}