@use '../abstracts/' as *;
@use '../base/' as *;

footer {
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding-top: rem(40);
  padding-bottom: rem(40);
  gap: rem(200);

  a, i{
    color: $dark-grayish-blue;

    &:hover{
      color: $strong-cyan;
      cursor: pointer;
    }
  }

  i{
    font-size: rem(24);
    margin-right: rem(20);
  }

  img{
    width: rem(55);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: rem(20);

    li{
      width: 25%;
      padding-bottom: rem(20);

    }
  }


  .social-media{
    margin-left: auto;
  }
}

@media screen and (max-width: rem(900)){
  footer, ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    gap: rem(20);
    align-items: center;  
  }
  
  footer .social-media{
    margin-left: 0;
  }

  footer li{
    width: 100% !important;
    text-align: center;
  }
}