@use '../abstracts/' as *;
@use '../base/' as *;

.keep-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(160);

  p{
    padding-top: rem(36);
    padding-bottom: rem(50);
    width: rem(730);
  }
  
  > p {
    text-align: center;
  }

  > div {
    display: flex;
    align-items: center;
    gap: rem(110);
  }

  .features {
    p {
      width: rem(500);
    }
  }    
  .image-container {
    margin-left: rem(-500);
  }
}